.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LPCard style */
.box{
    width: 500px;
    height: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid var(--sub-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.3s;
}
.box>div{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background-color: transparent;
}
.box>div>h3,.box>div>p{
    background-color: var(--main-color-5);
    padding: 0 1rem;
}
.img{
    transition: 0.3s;
}
.img:hover{
    scale: 1.1;
}
.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 3px 0px white;
}


/* UICard style */
.UIBox{
    width: auto;
    height: 17rem;
    border: 1px solid var(--sub-color);
    border-radius: .5rem ;
    overflow: hidden;
}
.UIBox>iframe{
    height: 100%;
    outline: none;
    border: none;
}