.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main>a {
    text-decoration: none;
    background-color: rgba(0, 0, 0);
    position: relative;
    height: 10rem;
    border-bottom: 2px solid var(--sub-color);
    border-top: 2px solid var(--sub-color);
}

.main>a>h1 {
    position: absolute;
    font-size: 6rem;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.main>a>div {
    position: absolute;
    width: 0;
    height: 100%;
    background-image: linear-gradient(90deg, black 30%, var(--tiny-color));
    transition: all 0.3s;
}

.main>a:hover>div {
    width: 100%;
}

.main>a:hover>h1 {
    color: var(--tiny-color);
    transform: translateX(7rem) scaleX(1.2);
}

@media (max-width:500px) {
    .main>a>h1 {
        font-size: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main>a:hover>h1 {
        transform: translate(-50%, -50%);
    }

    .main>a {
        height: 6.5rem;
    }
}

@media (max-width:350px) {
    .main>a>h1 {
        font-size: 2rem;
        left: 0;
        transform: translate(0, -50%);
    }

    .main>a:hover>h1 {
        transform: translate(1rem, -50%);
    }

    .main>a {
        height: 3rem;
    }
}