.main {
    height: 100vh;
    background-color: var(--main-color-e);
    /* background-image: url('https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content>h1 {
    font-size: 7rem;
}

.content>p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 3rem;
}

.content>div {
    display: flex;
    gap: 1rem;
    margin: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.content>div>a {
    cursor: pointer;
    width: 15rem;
    background-color: transparent;
    border: 2px solid var(--sub-color);
    font-size: 3rem;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.content>div>a:nth-child(1) {
    border: 2px solid var(--tiny-color);
    background-color: var(--tiny-color);
}

.content>div>a:hover:nth-child(1) {
    background-color: var(--tiny-color-8);
    border: 2px solid var(--tiny-color);
}

.content>div>a:hover:nth-child(2) {
    border: 2px solid var(--tiny-color);
}

.scroll__down {
    scale: 2;
    transform-origin: 0%;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: scroll__down 2s ease infinite;
    opacity: 0;
}

@keyframes scroll__down {
    0% {
        opacity: 0;
        bottom: 2rem;
    }

    70% {
        opacity: 1;
        bottom: 0.3rem;
    }

    100% {
        bottom: 0rem;
        opacity: 0;
    }
}

.anim__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.sq,
.sq2 {
    width: 2rem;
    aspect-ratio: 1;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expand 3s linear 0s infinite;
    transform-origin: center center;
    opacity: 0;
    border: 2px solid black;
    border-radius: 100%;
}

@keyframes expand {
    0% {
        width: 2rem;
        opacity: 1;
        offset-distance: 10%;
    }

    90% {
        width: 30rem;
        opacity: 1;
        offset-distance: 100%;
    }

    100% {
        width: 30rem;
        opacity: 0;
        offset-distance: 100%;
    }
}

@media (max-width:650px) {
    .content>h1{
        font-size: 4rem;
    }
}
@media (max-width:400px) {
    .content>h1{
        font-size: 3rem;
    }
    .content>p{
        font-size: 1.1rem;
    }
    .content>div>a{
        font-size: 2rem;
    }
}
@media (max-width:350px) {
    .content>h1{
        font-size: 2rem;
    }
    .content>p{
        font-size: 0.9rem;
    }
    .content>div>a{
        font-size: 1.5rem;
        width: 10rem;
    }
}