.main {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--main-color-8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--sub-color);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
}

.main>:nth-child(1) {
    text-decoration: none;
    font-weight: bold;
}

.main>:nth-child(2)>a {
    text-decoration: none;
    padding: 1rem;
}

.main>:nth-child(2)>a:hover {
    background-color: var(--tiny-color);
}

.icon {
    display: none;
    gap: 1.5rem;
}

.icon>a>svg {
    scale: 1.7;
}

.icon>a>svg:hover {
    fill: var(--tiny-color);
    animation: vibrate 0.2s ease 1;
}

@keyframes vibrate {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        transform: translateX(-2px);
    }

    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        transform: translateX(2px);
    }
}

@media (max-width:900px) {
    .menu {
        display: none;
    }

    .icon {
        display: flex;
    }
}

@media (max-width:600px) {
    .main>a {
        display: none;
    }

    .icon {
        justify-content: center;
        width: 100%;
    }
}

.uploadPopup {
    z-index: 15;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    /* height: 50vh; */
    background-color: var(--main-color-8);
    backdrop-filter: blur(20px);
    display: grid;
    place-items: center;
}

.uploadPopup>form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.uploadPopup>form>input,
.uploadPopup>form>button {
    background-color: var(--main-color-8);
    height: 2rem;
    width: 100%;
    border: 2px solid var(--sub-color-8);
    padding: 0.5rem;
}

.uploadPopup>form>button {
    height: 2.5rem;
    background-color: var(--tiny-color);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.uploadPopup>form>button:hover {
    transition: unset;
    outline: 3px solid var(--sub-color);
}

.uploadPopup>div {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
}

.uploadPopup>div:hover {
    color: var(--tiny-color);
}