:root {
  --main-color: #0c120c;
  --main-color-2: #0c120c22;
  --main-color-3: #0c120c33;
  --main-color-4: #0c120c44;
  --main-color-5: #0c120c55;
  --main-color-6: #0c120c66;
  --main-color-7: #0c120c77;
  --main-color-8: #0c120c88;
  --main-color-9: #0c120c99;
  --main-color-a: #0c120caa;
  --main-color-b: #0c120cbb;
  --main-color-c: #0c120ccc;
  --main-color-d: #0c120cdd;
  --main-color-e: #0c120cee;
  --main-color-f: #0c120cff;
  --sub-color: #c7d6d5;
  --sub-color-2: #c7d6d522;
  --sub-color-3: #c7d6d533;
  --sub-color-4: #c7d6d544;
  --sub-color-5: #c7d6d555;
  --sub-color-6: #c7d6d566;
  --sub-color-7: #c7d6d577;
  --sub-color-8: #c7d6d588;
  --sub-color-9: #c7d6d599;
  --sub-color-a: #c7d6d5aa;
  --sub-color-b: #c7d6d5bb;
  --sub-color-c: #c7d6d5cc;
  --sub-color-d: #c7d6d5dd;
  --sub-color-e: #c7d6d5ee;
  --sub-color-f: #c7d6d5ff;
  --tiny-color: #c20114;
  --tiny-color-2: #c2011422;
  --tiny-color-3: #c2011433;
  --tiny-color-4: #c2011444;
  --tiny-color-5: #c2011455;
  --tiny-color-6: #c2011466;
  --tiny-color-7: #c2011477;
  --tiny-color-8: #c2011488;
  --tiny-color-9: #c2011499;
  --tiny-color-a: #c20114aa;
  --tiny-color-b: #c20114bb;
  --tiny-color-c: #c20114cc;
  --tiny-color-d: #c20114dd;
  --tiny-color-e: #c20114ee;
  --tiny-color-f: #c20114ff;
}

* {
  transition: all 0.1s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--sub-color);
  scroll-behavior: smooth;
}

::selection {
  background: var(--tiny-color);
  color: var(--main-color);
}