.main * {
    @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
    font-family: Consolas, monaco, monospace;
    color: white;
    /* transition: unset; */
}

.main {
    width: 40rem;
    height: 40rem;
    background-color: var(--tiny-color);
    position: relative;
}

.begin {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.begin>h1 {
    font-size: 7rem;
    position: relative;
    color: var(--main-color);
}

.begin>h1::before {
    content: 'Mini';
    position: absolute;
    top: 0rem;
    font-size: 1.5rem;
}

.begin>h1::after {
    content: 'By React.js';
    position: absolute;
    bottom: 0rem;
    right: -1rem;
    font-size: 1.1rem;
}

.begin>div {
    width: 10rem;
    height: 3rem;
    background-color: var(--main-color);
    color: var(--tiny-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.begin>div:hover {
    background-color: var(--tiny-color);
    color: white;
    filter: invert(1);
}

.player {
    width: inherit;
    height: inherit;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
}

.player>header {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    padding: 2rem;
}

.player>header>div {
    display: flex;
    gap: 1rem;
}

/* X button */
.player>header>div>div {
    background-color: var(--tiny-color);
    padding: 0 2rem;
    cursor: pointer;
}

.player>header>div>div:hover {
    filter: invert(1);
}

.section {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0.5rem;
    margin: 1rem 3rem 3rem 3rem;
}

.box {
    aspect-ratio: 1;
    cursor: pointer;
    background-color: var(--tiny-color);
    /* border-radius: 100%; */
}

.box:hover {
    outline: 0.2rem solid var(--sub-color);
}

.heart>svg {
    animation: heart 1s ease infinite;
}

@keyframes heart {
    0% {
        scale: 1;
    }

    30% {
        scale: 1.2;
        opacity: 0.8;
        filter: drop-shadow(0 0 5px red);
    }

    100% {
        scale: 1;
    }
}

.end {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: var(--tiny-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 2rem solid var(--main-color);
}

.end>h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 3rem;
}

.howTo {
    font-family: 'Prompt', sans-serif;
    width: 40rem;
    height: 40rem;
    background-Color: var(--main-color);
    display: flex;
    justify-Content: center;
    align-Items: center;
    font-Size: 2rem;
    position: absolute;
    top: 0;
    padding: 4rem;
    cursor: pointer;
}

.end>h2 {
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    cursor: pointer;
}

.end>h2:hover {
    background-color: var(--tiny-color);
    filter: invert(1);
}